li {
    display: inline-block;
    margin: end;
}

.navDown {
    background-color: aqua !important;
}

#fbPageReference {
    color: black;
    text-decoration: none;
}


.phoneNumber, .location  {
    color: black;
    text-decoration: none;
}
