@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#heading {
    font-size: 38px;
    font-weight: 900 !important;
    white-space: pre-line;
    font-family: 'Poppins', sans-serif;
    margin-top: 5rem !important;
}

#span {
    color: #8AC642 !important;
}

#helpingHeading {
    font-weight: 600 !important;
}

/* Animated typeWriter  */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');



#parent {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
    color: black;
    position: relative;
    animation-iteration-count: 2;

}

#border {
    border-bottom: solid 3px #8AC642;
    position: absolute;
    right: -7px;
    width: 20px;

}

/* Animation */
#parent {
    animation: animated-text 3s steps(50, end) 1s infinite normal both
    
}


/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 480px;

    }
}

/* media query for hero section  */

@media only screen and (max-width: 1200px){
    #row {
        margin-top: 5px !important;
    }
    #heading {
        margin-top:3rem !important;
        padding-top: 0 !important;
    }
    #heroImg {
        margin-top: 6rem !important;
    }
}
@media only screen and (max-width: 600px){
	#row {
        margin-top: 0px !important;
    }
    #heading {
        margin-top: 2rem !important;
        padding: 0px !important;
    }
}
@media only screen and (max-width: 425px){
	@keyframes animated-text {
        from {
            width: 0;
        }
    
        to {
            width: 330px;
    
        }
    }
}