#whyUsHeading {
    
    font-size: 1.5rem;
    font-weight: 900 !important;
    white-space: pre-line;
    font-family: 'Poppins', sans-serif;
}
#diamondLogo {
    color: #88C446;
    font-size: 3rem !important;
}

