.navDown:hover {
    background-color: #0D6DB7 !important;
    color: white !important;
    transition: 0.3s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    transition: 0.8s;
}

.dropdown-toggle::after {
    content: none !important;
}

Nav.Link {
    color: red !important;
}

.btn{
    --bs-btn-padding-x: 0.95rem !important;
    --bs-btn-padding-y: 0.288rem !important;
}