.navDown:hover {
    background-color: #0D6DB7 !important;
    color: white !important;
    transition: 0.3s;
}

.btn{
    --bs-btn-padding-x: 0.95rem !important;
    --bs-btn-padding-y: 0.288rem !important;
}

#a:hover {
    color: #8AC642 !important;
    border-bottom: 1px solid #8AC642;
    transition: 0.5s;
}