#heading {
    background-color: #E7F0FF;
    outline: none;
    border-color: #E7F0FF;
    border-radius: 0px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px !important;
}
#webMob {
    background-color: #E7F0FF;
}